/report/
/node_modules/
/built/
/allure-report/
/allure-results/
/browserLogs/
/scripts/
/mochawesome-report/
/assert/
/app.css/
/app.js/
/app.js.LiCENCE.txt/
/Materiallcons-Regular.woff/
/Materiallcons-Regular.woff2/
/roboto-light-webfont.woff/
/roboto-light-webfont.woff2/
/roboto-medium-webfont.woff/
/roboto-medium-webfont.woff2/
/roboto-regular-webfont.woff/
/roboto-regular-webfont.woff2/
/mochawesome.html/
/mochawesome.json/
/ApiTests/

